.titleDiv {
    display: flex;
    align-items: center;
    justify-content: start;

}

.content {
    margin: 0 auto;
    width: 800px;
}

.titleDiv h3 {
    margin-right: 30px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hr {
    border-bottom: 2px solid grey;
    min-width: 400px;
}

.ptimes {
    display: flex;
    justify-items: center;
    cursor: pointer;
    width: 10px;
}

#map {
    width: 512px;
    height: 512px;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0 auto;
}

#miles {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
    text-align: right;
    color: green;
}

.tableDistance {
    text-align: center;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
}

#textMiles {
    margin-left: 10px;
    color: black;
    white-space: nowrap;
}

#errorText {
    color: red;
    font-size: 12px;
    white-space: nowrap;
}

#hours {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
    text-align: right;
    color: green;
}

.table {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    max-width: 800px;
    margin-left: 100px;
}

.tableTitle {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 12px;
}

.lastTableTitle {

    border-bottom: 1px solid gray;
    padding: 2px;
    font-weight: bold;
    text-align: center;
}

#origin {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    min-height: 200px;
    text-align: center;

}

#origin {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    min-height: 200px;
    text-align: center;

}

#destination {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    min-height: 200px;
    text-align: center;
}

#timePerYear {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    min-height: 200px;
    text-align: center;
    align-items: center;
}

#removeBtn {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    min-height: 200px;
    text-align: center;
    align-items: center;

}

.remove {
    margin-top: 15px;
    margin-bottom: 10px;
}